body {
  /*background-color: rgb(185, 146, 72);*/
  background-color: #121e44;
  font-family: Arial, sans-serif;
}
img {
  height: 80%;
  width: 80%;
}
.frame {
  position: absolute;
  display: block;
  top: 0;
  background-color: #e5eaec;
  border-radius: 30px;

  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes de largeur égale */
  grid-gap: 4px;
  margin-top: 30px;
  margin-left: 18%;
  margin-right: 10%;
  align-items: center;
}
.icon {
  background-color: #4b418b;
  width: 100px;
  height: 100px;
  padding: 1rem;
  border-radius: 50%;
  margin-top: 30px;
  text-align: center;
  border: 1px solid transparent;
  z-index: 1;
}
.icon > h4 {
  margin-top: 2.1rem;
}
.icon_facebook > img {
  border-radius: 50%;
}
.icon:hover {
  background: transparent;
  border-color: #caff4d;
  box-shadow: 0 0 5px blue, 0 0 25px lightblue, 0 0 50px lightblue,
    0 0 100px lightblue, 0 0 200px lightblue;
}

/*
.icon a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}*/

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 90px;
  position: relative;
  z-index: 1;
}

input,
textarea {
  width: 55%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid black;
  resize: none;
  color: black;
  align-self: center;
}
input:hover,
textarea:hover {
  background: lightcyan;
  border: 1px solid black;
}

button {
  width: 20%;
  padding: 0.7rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid lightblue;
  resize: none;
  color: black;
  align-self: center;
  background-color: blue;
}
button:hover {
  background: transparent;
  border-color: #caff4d;
  box-shadow: 0 0 5px blue, 0 0 25px lightblue, 0 0 50px lightblue,
    0 0 100px lightblue, 0 0 200px lightblue;
}

footer {
  background-color: black;
  padding: 10px 0;
  text-align: center;
  margin-top: 10px;
  position: sticky;
  top: 50%;
  left: 50%;
}
.foot {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
}
p {
  color: #999595;
}

.icon_email {
  background-color: #0000ff;
}
.icon_linkedin {
  background-color: #0077b5;
}
.icon_whatsapp {
  background-color: green;
}
.icon_github {
  background-color: #24292e;
}
.icon_facebook {
  background-color: #3b5998;
}
.icon_twitter {
  background-color: #1da1f2;
}
.icon_youtube {
  background-color: #ff0000;
}
.icon_portfolio {
  background-color: #ff6600;
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .icon {
    width: 90px;
    height: 90px;
  }
  .frame {
    margin-left: 3%;
    margin-right: 3%;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  svg {
    display: none;
  }
}
